.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 22px 0 30px;
    padding: 0 45px;
}

.btn{
    padding: 5px 10px;
    background-color: var(--main-bg-color);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.btn:hover{
    font-weight: bolder;
}

.slider{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card{
    max-width: 91vw;
    margin: auto;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.lines p{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.my-1{
    margin: 26px 0;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.cards{
    display: flex;
    overflow: scroll;
}